.entry {
  padding: 10% 0 5%;
}

.entry h2 {
  color: transparent;
  -webkit-text-stroke: 0.5px #d2c450;
  font-family: Davida;
  font-size: 2.5em;
  font-weight: normal;
}

.entry h4 {
  color: #505ed2;
  font-family: Davida;
  font-size: 1.5em;
  font-weight: normal;
  margin-bottom: 12px;
}

.entry p {
  margin-bottom: 10%;
}
