.config-form {
  font-size: 0.8em;
}

.config-form form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  grid-gap: 20px;
}

.config-form label {
  display: inline-block;
  margin: 0;
}

.config-form .submit {
  margin-top: 16px;
}

.button-group span {
  display: block;
  margin-top: 30px;
}

.button-group .btn {
  margin: 4px 4px 0;
}

.config-form .btn.close {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  color: var(--text-color);
  border: none;
  margin: auto;
}
